c-text-blob(popUnderline note="Anfragen bezüglich" heading="Presse" text="Für alle Anliegen rund um Presse und Medien steht Ihnen Julian Kadlicz als Ansprechpartner zur Verfügung. Bitte richten Sie Ihre Presseanfragen direkt an: <c-copy-link>presse@forju.at</c-copy-link>.")
c-contact-card(personName="Julian Kadlicz" position="Pressesprecher" pic="julian_kadlicz" email="julian.kadlicz@forju.at")