:host {
  width: 100%;
  height: 100%;
  
  display: inline-block;
  vertical-align:bottom;
  --display: block;
  position: relative;
  --object-position: 50% 50%;
}

picture {
  display: var(--display);
  width: 100%;
  height: 100%;
  max-width: inherit;
  max-height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  border-radius: inherit;
  padding: inherit;
  box-sizing: border-box;
  aspect-ratio: inherit;
}
picture:last-of-type {
  position: relative;
  top: initial;
  left: initial;
  padding: unset;
}

img {
  display: var(--display);
  opacity: 0;
  object-fit: cover;
  object-position: var(--object-position);
  width: 100%;
  height: 100%;
  max-width: inherit;
  max-height: inherit;
  user-select: none;
  user-drag: none; 
  aspect-ratio: inherit;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

