c-oval-icon(name="backgroundCircle")

right-side
  //- todo next parent has relative! But should only happen when scroll
  c-parallax(y autoHook="c-home-page" parallaxLength="150")
    c-image(src="friendsTulip")
  c-spike-icon
  c-fidget.a
  c-fidget.b


left-side
  text-blob
    c-text-blob(note="Verein der" heading="Forschenden Jugend" text="Der ehrenamtliche Verein, der Jugendliche, Unternehmen, Hochschulen, Institute und Schulen miteinander verbindet!")
    c-block-button(content="Laufende Projekte" link="projects").main
    c-block-button(content="Kontakt" link="contactSite").secondary
    //kommentar
    
landing-circle-wrapper
  c-landing-circle

view-work
  arrow-circle 
    c-ripple-button.rippleButton
    c-arrow-icon
  c-link(link="services" tabIndex="-1") So unterstützen wir

  c-button.coverButton(link="services")