under-section.a
  c-text-blob(popUnderline heading="Unser Vorstand" text="Das ist unser engagierter Vorstand des Vereins der Forschenden Jugend. Unser Vorstand setzt sich aus leidenschaftlichen und erfahrenen Mitgliedern zusammen, die sich für die Förderung von Wissenschaft und Forschung unter jungen Menschen einsetzen.")

  c-block-button(content="Alle Funktionäre" link="ourTeam/funktionaere").themed
  c-block-button(content="Über uns" link="ourTeam")

under-section.b
  
  c-contact-card(personName="Avid Vormann" position="Vereinsobmann" pic="avid_vormann" email="avid.vormann@forju.at")
  c-contact-card(personName="Melih Kurtulmus" position="Geschäftsführer" pic="melih_kurtulmus" email="melih.kurtulmus@forju.at")
  c-contact-card(personName="Sophie Heinrich" position="Generalsekretariat" pic="sophie_heinrich" email="sophie.heinrich@forju.at")
  c-contact-card(personName="Laura Scholz" position="Generalsekretariat" pic="laura_scholz" email="laura.scholz@forju.at")

  c-contact-card(personName="Manuel Stevanovic" position="Qualitätsmanager" pic="manuel_stevanovic" email="manuel.stevanovic@forju.at")

  c-contact-card(personName="Una Saric" position="Science Redaktion" pic="una_saric" email="una.saric@forju.at")
  c-contact-card(personName="Asya Efe" position="Science Redaktion" pic="asya_efe" email="asya.efe@forju.at")
  
  c-contact-card(personName="Sarah Ceculovic" position="Öffentlichkeitsarbeit" pic="sarah_ceculovic" email="sarah.ceculovic@forju.at")
  c-contact-card(personName="Anna Fabrizy" position="Öffentlichkeitsarbeit" pic="anna_fabrizy" email="anna.fabrizy@forju.at")

  c-contact-card(personName="Batuhan Alisoglu" position="Internationales" pic="batuhan_alisoglu" email="batuhan.alisoglu@forju.at")
  
  c-contact-card(personName="Lino Stockinger" position="Kooperationen" pic="lino_stockinger" email="lino.stockinger@forju.at")
  c-contact-card(personName="Marc-Luis Tacho" position="Kooperationen" pic="marc_tacho" email="marcluis.tacho@forju.at")
