under-section.a
  c-text-blob(popUnderline heading="Unser Vorstand" text="Das ist unser engagierter Vorstand des Vereins der Forschenden Jugend. Unser Vorstand setzt sich aus leidenschaftlichen und erfahrenen Mitgliedern zusammen, die sich für die Förderung von Wissenschaft und Forschung unter jungen Menschen einsetzen.")

  c-block-button(content="Alle Funktionäre" link="ourTeam/funktionaere").themed
  c-block-button(content="Mitglied werden" link="jobs")

under-section.b
  c-contact-card(personName="Avid Vormann" position="Obmann" pic="avid_vormann" email="avid.vormann@forju.at")
  c-contact-card(personName="Laura Scholz" position="Geschäftsführerin" pic="laura_scholz" email="laura.scholz@forju.at")
  c-contact-card(personName="Sophie Heinrich" position="Generalsekretärin" pic="sophie_heinrich" email="sophie.heinrich@forju.at")
  c-contact-card(personName="Anja Hofer" position="Stv. Leitung Aus- & Weiterbildung" pic="anja_hofer" email="anja.hofer@forju.at")
  c-contact-card(personName="Anna Fabrizy" position="Stv. Leitung Öffentlichkeitsarbeit" pic="anna_fabrizy" email="anna.fabrizy@forju.at")
  c-contact-card(personName="Asya Efe" position="Leitung Science Redaktion" pic="asya_efe" email="asya.efe@forju.at")
  c-contact-card(personName="Batuhan Alisoglu" position="Leitung Internationales" pic="batuhan_alisoglu" email="batuhan.alisoglu@forju.at")
  c-contact-card(personName="Benedikt Wolf" position="BJV Delegate" pic="benedikt_wolf" email="benedikt.wolf@forju.at")
  c-contact-card(personName="Julian Kadlicz" position="Presse & HR" pic="julian_kadlicz" email="julian.kadlicz@forju.at")
  c-contact-card(personName="Lino Stockinger" position="Leitung Kooperationen" pic="lino_stockinger" email="lino.stockinger@forju.at")
  c-contact-card(personName="Marc-Luis Tacho" position="Stv. Leitung Kooperation" pic="marc_tacho" email="marc-luis.tacho@forju.at")
  c-contact-card(personName="Marco Vorgic" position="Leitung Aus- & Weiterbildung" pic="marco_vorgic" email="marco.vorgic@forju.at")
  c-contact-card(personName="Sarah Ceculovic" position="Leitung Öffentlichkeitsarbeit" pic="sarah_ceculovic" email="sarah.ceculovic@forju.at")
  c-contact-card(personName="Una Saric" position="Stv. Leitung Science Redaktion" pic="una_saric" email="una.saric@forju.at")