under-section.a
  c-text-blob(popUnderline heading="Unser Vorstand" text="Das ist unser engagierter Vorstand des Vereins der Forschenden Jugend. Unser Vorstand setzt sich aus leidenschaftlichen und erfahrenen Mitgliedern zusammen, die sich für die Förderung von Wissenschaft und Forschung unter jungen Menschen einsetzen.")

  c-block-button(content="Alle Funktionäre" link="ourTeam/funktionaere").themed
  c-block-button(content="Mitglied werden" link="jobs")

under-section.b
  c-contact-card(personName="Avid Vormann" position="Präsident" pic="avid_vormann" email="avid.vormann@forju.at")
  c-contact-card(personName="Laura Scholz" position="Geschäftsführerin" pic="laura_scholz" email="laura.scholz@forju.at")
  c-contact-card(personName="Marco Vorgic" position="Abt. Leitung Bildung" pic="marco_vorgic" email="marco.vorgic@forju.at")
  c-contact-card(personName="Anja Hofer" position="Stv. Abt. Leitung Bildung" pic="anja_hofer" email="anja.hofer@forju.at")
  c-contact-card(personName="Sophie Heinrich" position="Generalsekretärin" pic="sophie_heinrich" email="sophie.heinrich@forju.at")
  c-contact-card(personName="Iris Haslinger" position="Stabstelle IT" pic="iris_haslinger" email="iris.haslinger@forju.at")
  c-contact-card(personName="Sarah Ceculovic" position="Abt. Leitung Öffentlichkeitsarbeit" pic="sarah_ceculovic" email="sarah.ceculovic@forju.at")
  c-contact-card(personName="Julian Kadlicz" position="Pressesprecher & HR" pic="julian_kadlicz" email="julian.kadlicz@forju.at")
  c-contact-card(personName="Asya Efe" position="Abt. Leitung Science Redaktion" pic="asya_efe" email="asya.efe@forju.at")
  c-contact-card(personName="Una Saric" position="Stv. Abt. Leitung Science Redaktion" pic="una_saric" email="una.saric@forju.at")
  c-contact-card(personName="Manuel Stevanovic" position="Stabstelle QM" pic="manuel_stevanovic" email="manuel.stevanovic@forju.at")
