c-text-blob(popUnderline note="Anfragen bezüglich" heading="Presse" text="Julian Kadlicz ist verantwortlich für Presseanfragen. Presseanfragen bitte direkt an <c-copy-link>presse@forju.at</c-copy-link>.")
c-contact-card(personName="Julian Kadlicz" position="Pressesprecher" pic="julian_kadlicz" email="julian.kadlicz@forju.at")
c-contact-card(personName="Julian Kadlicz" position="Pressesprecher" pic="julian_kadlicz" email="julian.kadlicz@forju.at")