c-big-logo-icon.logo
content-body
  h-col
    h3 Social
    c-link(link="https://www.instagram.com/forju.at/") Instagram
  h-col
    h3 Legal
    c-link(link="impressum") Impressum
  h-col
    h3 Contact
    c-link(link="contactSite") Kontakt Seite
    c-copy-link(copyText="office@forju.at") office@forju.at
    