:host {
  display: block;
  position: relative;
  background-color: rgb(var(--tertiary-themed-background));
  --align-x: center;
  --padding: 50px calc(5% - 12px);
  --background-color: rgb(var(--plain-background)); 
}

component-body {
  height: 300px;
  padding: var(--padding);
  box-sizing: border-box;
  display: flex;
  justify-content: var(--align-x);
  align-items: center;
  background-color: var(--background-color);
}



.logo {
  width: 400px;
  height: 300px;
  margin-right: calc(18% - 150px);
  --accent: rgb(var(--primary-theme));
}

content-body {
  display: flex;
  flex-direction: row;
}


h-col {
  display: flex;
  flex-direction: column;
  min-width: 9vw;
  min-height: 150px;
  margin-left: 50px;
}

h-col > *:not(:first-child) {
  font-weight: normal;
}
h-col > *:not(:first-child) {
  margin-top: 5px;
}

h3 {
  font-size: 1.3em;
}




@media (max-width: 1060px) {
  component-body {
    height: 550px;
    flex-direction: column;
  }
  component-body {
    padding-bottom: 100px;
  }
  h-col {
    margin: 0 45px;
    min-width: 0;
  }
  .logo {
    width: min(483px, 95%);
    margin: 0 auto;
  }
}

@media (max-width: 560px) {
  content-body {
    flex-direction: column;
    width: 100%;
    
  }
  component-body {
    height: max-content;
    padding-bottom: 110px;
    justify-content: flex-start;
  }
  h-col {
    width: 100%;
    margin-left: 6%;
    margin-top: 20px;
    min-height: unset;
  }
  .logo {
    height: 50vw;
  }

  
}

