component-body {
  display: block;
  position: relative;
  float: left;
  width: 100%;
  min-height: 100px;
  
  overflow: hidden; /* !! This needs to be hidden, for the overflowing content in some section in the bg. Like on landing section etc. */
                    /* we would need it to be vis for c-contact-card :/ */
}
