left-side
  c-text-blob(popUnderline heading="Kontakt" text="Allgemeine Anfragen bitte an: <c-copy-link>office@forju.at</c-copy-link>. Für Projekteinreichungen verwenden Sie bitte das Formular unten.")
  c-block-button(content="Projekteinreichung" link="https://docs.google.com/forms/d/e/1FAIpQLSd9vZghqn8w2O3DHR6aGz2PQZuivyGEkHLmKwxfX9MPJF8cMw/viewform?vc=0&c=0&w=1&flr=0")
right-side 
