:host {
  display: block;
  --_focus: var(--focus);
  --background: 0, 0, 0,0;
}

c-button {
  width: inherit;
  height: inherit;
  max-height: inherit;
  max-width: inherit;
  font-weight: inherit;

  
  --focus: var(--_focus);

}

::slotted(*) {
  z-index: 1;
}