<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 559 585">
  <path fill="var(--color)" fill-rule="evenodd" d="M304.641 5.21c56.989 20.422 53.896 108.165 100.14 147.279 36.801 31.126 104.217 10.642 132.631 49.598 28.262 38.75 27.066 97.653 6.317 140.907-19.863 41.408-82.638 40.651-110.803 76.909-30.857 39.724-15.101 107.115-55.45 137.115-41.294 30.704-103.133 36.356-150.327 15.886-46.552-20.192-53.008-84.049-89.115-119.741C97.303 412.9 20.695 406.617 3.592 351.917c-16.798-53.722 29.43-105.726 53.875-156.418 23.906-49.578 43.651-102.66 87.234-136.213C190.236 24.23 250.566-14.169 304.641 5.21" clip-rule="evenodd"/>
</svg>
