<svg width="684" height="539" viewBox="0 0 684 539" fill="none" xmlns="http://www.w3.org/2000/svg">
  <g filter="url(#filter0_d_1_4)">
    <path d="M645.92 470.096C635.612 472.797 632.559 455.951 619.935 450.01C610.73 445.678 602.468 449.815 593.949 442.331C544.557 398.942 576.607 440.492 518.68 391.281C477.656 359.672 454.219 316.269 432.853 301.801C359.1 239.798 303.864 116.633 303.864 116.633C300.042 110.241 302.138 108.393 305.722 110.193C312.101 113.405 315.297 124.539 321.161 124.437C326.475 124.344 316.861 109.998 329.338 109.781C339.426 109.605 337.847 104.53 337.709 96.6489C337.55 87.5115 345.792 78.1199 345.014 71.3809C342.6 61.3613 334.429 54.6711 337.709 49.3011C356.867 17.9037 362.337 54.2152 375.312 41.9968C376.967 40.4217 382.864 30.0863 397.711 30.3499C411.648 30.5962 429.178 34.0191 429.073 47.3667C428.76 87.3026 475.346 141.396 484.629 141.234C505.987 140.861 484.32 103.852 510.459 103.396C531.518 103.029 527.728 108.815 534.11 108.704C551.644 108.398 543.289 113.472 543.773 141.234C543.85 145.599 548.171 166.789 556.318 169.17C569.965 173.158 597.389 159.456 597.702 177.366C597.782 181.992 599.839 194.358 597.701 201.512C596.447 205.588 592.367 202.766 589.23 208.097C585.239 214.185 590.289 218.818 596.133 219.385C619.797 219.385 608.753 238.819 604.918 252.311C596.467 282.031 586.32 321.946 590.368 354.224C592.054 363.944 579.504 360.809 581.701 368.648C584.211 378.996 605.667 361.436 604.917 385.581C605.039 404.082 619.93 409.443 634.275 409.193C641.078 409.074 650.143 408.55 650.404 423.522C650.665 438.495 659.361 465.618 645.92 470.096Z" fill="var(--color)" />
  </g>
  <g filter="url(#filter1_d_1_4)">
    <path d="M69.6803 186.145C71.7076 174.595 74.3816 168.013 84.7392 177.365C89.8727 181.999 95.552 185.883 102.454 190.587C107.155 194.037 109.042 205.69 117.368 204.437C119.953 204.527 125.738 204.322 124.898 210.029C124.431 213.204 124.216 212.37 122.013 216.683C119.355 221.887 124.966 224.73 131.24 225.357C142.534 225.984 143.703 225.93 152.193 221.575C154.06 220.273 150.977 215.029 152.193 211.54C153.528 207.713 159.15 208.59 162.786 204.014C164.426 201.951 163.784 194.719 165.683 192.095C170.449 185.52 181.214 192.653 187.017 186.135C194.256 178.008 193.506 168.246 193.606 160.108C193.739 153.31 197.684 145.997 209.92 145.683C216.43 145.219 220.273 146.31 228.745 145.683C236.902 145.369 244.605 137.677 250.706 135.648C256.11 133.851 265.791 135.298 268.903 132.826C272.051 130.327 268.347 123.918 272.355 122.087C279.644 118.755 291.452 118.616 294.27 122.087C302.034 131.65 334.696 220.44 401.798 285.089C484.34 364.612 465.418 370.172 548.751 423.909C614.963 459.117 573.841 468.689 553.231 443.612C531.726 418.356 492.299 417.64 473.482 451.672C456.457 482.123 424.198 440.925 422.406 493.766C422.406 511.013 425.991 522.426 294.269 477.645C267.452 466.856 273.897 506.132 239.098 504.731C220.93 503.998 200.123 475.781 178.995 472.488C171.274 471.285 160.952 484.36 151.424 485.21C138.54 486.356 126.283 476.368 115.9 482.029C105.242 487.842 95.7526 505.347 84.6176 499.518C78.7858 495.808 87.2687 489.449 90.9803 485.21C109.008 468.789 70.8316 426.923 48.5627 404.664C0.34421 364.885 60.693 385.682 65.9159 340.426C66.9341 331.601 70.1252 316.323 67.4845 304.363C64.7624 292.037 49.8504 282.374 45.5287 270.184C41.3893 258.524 47.8483 244.346 48.5684 233.495C50.5315 203.864 68.739 201.197 69.6803 186.145Z" fill="var(--color)" />
  </g>
  <defs>
    <filter id="filter0_d_1_4" x="271.827" y="0.344971" width="411.583" height="500.042" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
      <feFlood flood-opacity="0" result="BackgroundImageFix" />
      <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
      <feOffset />
      <feGaussianBlur stdDeviation="15" />
      <feComposite in2="hardAlpha" operator="out" />
      <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.08 0" />
      <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_1_4" />
      <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_1_4" result="shape" />
    </filter>
    <filter id="filter1_d_1_4" x="3.05176e-05" y="89.5356" width="614.876" height="449.464" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
      <feFlood flood-opacity="0" result="BackgroundImageFix" />
      <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
      <feOffset />
      <feGaussianBlur stdDeviation="15" />
      <feComposite in2="hardAlpha" operator="out" />
      <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.08 0" />
      <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_1_4" />
      <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_1_4" result="shape" />
    </filter>
  </defs>
</svg>