c-text-blob(popUnderline note="Unser" heading="Präsidium" text="Avid Vormann und Melih Kurtulmus leiten unsere Organisation. Sie repräsentieren ForJu und sind die strategische Führung.")
c-contact-card(personName="Avid Vormann" position="Vereinsobmann" pic="avid_vormann" email="avid.vormann@forju.at")
c-contact-card(personName="Melih Kurtulmus" position="Geschäftsführer" pic="melih_kurtulmus" email="melih.kurtulmus@forju.at")
