component-body
  content-wrapper
    h1(name="heading")
      span 
        | D
        c-image(name="paperboat" src="paperboat").paperboat
        | ein Talent ins
      span.nowrap
        | R 
        span(name="oo").oo
          span am
          switch-wrapper
            c-toggle-switch(name="toggleSwitch")
            switch-label(name="switchLabel") switch the BUTTON!

        span penlicht!
    
    
    
  //- .decorative-elements
  //-   img.triangle.green-triangle(src="greenTriangle" alt="")
  //-   img.triangle.orange-triangle(src="orangeTriangle" alt="")
  //-   img.paperboat(src="paperboat" alt="")
