c-blob-and-glass-background(name="bg")
component-body
  content-wrapper
    h1
      span Dein Talent ins 
      span.nowrap
        | R
        span(name="oo").oo
          span am
          switch-wrapper
            c-toggle-switch(name="toggleSwitch")
            switch-label switch the BUTTON!

        span penlicht!
    
    
    
  //- .decorative-elements
  //-   img.triangle.green-triangle(src="greenTriangle" alt="")
  //-   img.triangle.orange-triangle(src="orangeTriangle" alt="")
  //-   img.paperboat(src="paperboat" alt="")
