:host {
  display: block;
  position: relative;
  width: 100%;
  height: 100vh;
  user-select: none;
}

c-blob-and-glass-background {
  --blob-a-color: rgba(255, 79, 223, 0.493);
  --blob-b-color: rgba(0, 67, 253, 0.493);
  background-color: black;
}

component-body {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


content-wrapper {
  display: inline-block;
  position: relative;
  color: white;
}

h1 {
  font-size: 80px;
}

switch-wrapper {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 7rem;
}

switch-label {
  color: red;
  position: absolute;
  top: 180px;
  left: -230px;
  white-space: nowrap;
  transform: rotate(8deg);

  font-size: 30px;

  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
  opacity: 0;
}

span.oo {
  position: relative;
  display: inline-block;
}

span.oo > span {
  opacity: 0;
  user-select: none;
}

.nowrap {
  white-space: nowrap;
  display: inline-flex;
  flex-wrap: nowrap;
  flex-direction: row;
  margin-left: 1.3rem
}

c-toggle-switch {
  --switch-width: 6rem;
  margin-left: .5rem;

  --switch-bg-off: rgb(255, 255, 255);
  --switch-bg-on: rgb(0, 0, 0);

  --knob-color-off: rgb(0, 0, 0);
  --knob-color-on: white;
}

h1 {
  display: flex;
  width: auto;
  position: relative;
  flex-wrap: wrap;
  justify-content: center;
}