h1 Impressum
p Angaben nach § 5 E-Commerce Gesetz und Offenlegung nach § 25 Medien Gesetz.
 
h2 Medieninhaber
p ForJu, Förderungsverein der Forschenden Jugend (Abk. ForJu, oder Verein der Forschenden Jugend) <br> ZVR: 1394319510 <br> Vereinssitz: Gschwandnergasse 22/2/9 1170 Wien
 
h2 Vorstand
p Obmann: Vormann Avid <br> Geschäftsführer/ Obmannstellvertreter: Kurtulmus Melih
 
h2 Geschäftsstelle / Redaktion
p Gschwandnergasse 22/2/9 1170 Wien <br> office@forju.at


 
h2 Copyright
p Sämtliche Informationen, Dokumente, Artikel und Fotografien auf dieser Website unterliegen dem Copyright. Jegliche Weiterverwendung bedarf der ausdrücklichen Genehmigung des Förderungsvereins der Forschenden Jugend. Haftungshinweis. Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir keine Haftung für die Inhalte externer Links. Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich.