c-spike-shadow-icon.a

left-side
  side-wrapper
    c-text-blob(note="UNSER" heading="Science Blog" text="Unser Blog präsentiert fesselnde, topaktuelle und leicht verständliche Inhalte, die darauf abzielen, das Interesse und die Neugierde der jungen Leserschaft zu wecken und Jugendliche zu inspirieren.")
    btn-wrapper
      c-block-button.themed(link="https://www.instagram.com/forju.at/" content="Instagram") 
      c-block-button.themed(link="https://www.facebook.com/people/ForJu-Verein-der-Forschenden-Jugend/61556404965389/" content="Facebook") 

right-side
  c-scroll-body(center x scrollSnap fadeInOnScroll name="scrollBody" propagateFullViewProgressAttr="relativeScrollProg")
    c-parallax-img-card.loading
    c-parallax-img-card.loading
    c-parallax-img-card.loading
    c-parallax-img-card.loading
    //- c-parallax-img-card.loading
    //- c-parallax-img-card.loading
    //- c-parallax-img-card.loading
    //- c-parallax-img-card.loading
    