c-spike-shadow-icon.a

left-side
  side-wrapper
    c-text-blob(note="UNSER" heading="Science Blog" text="Unser Blog präsentiert fesselnde, topaktuelle und leicht verständliche Inhalte, die darauf abzielen, das Interesse und die Neugierde der jungen Leserschaft zu wecken und Jugendliche zu inspirieren.")
    c-block-button.themed(link="https://www.instagram.com/forju.at/" content="Instagram") 

right-side
  c-scroll-body(center x scrollSnap fadeInOnScroll name="scrollBody")
    c-ripple-button(link="blog/test-blog")
      c-parallax-img-card(src="officePpl2")
    c-ripple-button(link="blog/test-blog")
      c-parallax-img-card(src="officePpl2")
    c-ripple-button(link="blog/test-blog")
      c-parallax-img-card(src="officePpl2")
    c-ripple-button(link="blog/test-blog")
      c-parallax-img-card(src="officePpl2")
    c-ripple-button(link="blog/test-blog")
      c-parallax-img-card(src="officePpl2")

    