c-spike-shadow-icon.a

left-side
  side-wrapper
    c-text-blob(note="WAS SICH AN DER SCHULE BEWEGT" heading="Aktuelles") Folgen Sie uns auf <c-link link='https://www.instagram.com/ms_ko50/'>Facebook</c-link> oder <c-link link='https://www.facebook.com/p/KO50-100057624093630/'>Instagram</c-link> um immer auf dem neusten Stand zu sein. 
    c-block-button.themed(link="news/schedule" content="Termine") 

right-side
  c-scroll-body(center x scrollSnap bar fadeInOnScroll name="scrollBody")
    c-ripple-button(link="blog/test-blog" name="1")
      c-parallax-img-card(src="officePpl2")
    c-ripple-button(link="blog/test-blog" name="2")
      c-parallax-img-card(src="officePpl2")
    c-ripple-button(link="blog/test-blog" name="3")
      c-parallax-img-card(src="officePpl2")
    c-ripple-button(link="blog/test-blog")
      c-parallax-img-card(src="officePpl2")
    c-ripple-button(link="blog/test-blog")
      c-parallax-img-card(src="officePpl2")

    