:host {
  --primary-text: 45, 30, 30;
  --plain-text: 0, 0, 0;
  
  --plain-background: 255, 255, 255;
  --primary-theme: 255, 58, 174;
  --primary-themed-background: 255, 232, 245;
  --secondary-theme: 254, 97, 39;
  --secondary-theme-alt: 255, 143, 102;
  --secondary-themed-background: 255, 241, 236;
  --secondary-strongly-themed-background: 251, 229, 221;
  --tertiary-theme: 91, 244, 236;
  --tertiary-themed-background: 244, 255, 254;
  --tertiary-strongly-themed-background: 214, 255, 254;

  --soft-shadow: 0px 0px 30px 0px rgba(0,0,0,0.08);
}