c-oval-icon(name="backgroundCircle")

.logoBox
  c-big-logo-icon
  c-block-button(link="team" content="Unser Team")
c-text-blob(note="Eine Zusammenfassung" heading="Über uns" text="ForJu ist deine Forschungs-Lobby! Wir sind das Sprachrohr junger Forscher und unterstützen engagierte und forschungsbegeisterte Jugendliche und junge Erwachsene in allen Facetten ihrer Arbeit in der Forschung.<br><br>Wir schaffen in der Gesellschaft ein Bewusstsein und Anerkennung für die Arbeit und Probleme junger Menschen in der Wissenschaft. Durch Kooperationen zwischen Hochschulen, Unternehmen, Privatpersonen und sonstigen Organisationen stellen wir unseren Mitgliedern ein breites Know-How und benötigte Ressourcen zur Verfügung.<br><br>Außerdem bieten wir dank Veranstaltungen und Fortbildung unseren Mitglieder:innen die Möglichkeit Wissen zu erwerben und die österreichische und internationale Forschungslandschaft aus verschiedenen Perspektiven zu betrachten.")