<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="1550" height="2667" viewBox="0 0 1550 2667">
  <defs>
    <filter id="oval" x="0" y="0" width="1550" height="2667" filterUnits="userSpaceOnUse">
      <feOffset input="SourceAlpha" />
      <feGaussianBlur stdDeviation="25" result="blur" />
      <feFlood flood-opacity="0.078" />
      <feComposite operator="in" in2="blur" />
      <feComposite in="SourceGraphic" />
    </filter>
  </defs>
  <g transform="matrix(1, 0, 0, 1, 0, 0)" filter="url(#oval)">
    <ellipse id="oval-2" data-name="oval" cx="700" cy="1258.5" rx="700" ry="1258.5" transform="translate(75 75)" fill="var(--color)" />
  </g>
</svg>