:host {
  display: inline-flex;
  position: relative;
  overflow: hidden;
  width: 30px;
  justify-content: flex-end;
}

span {
  display: inline-block;
  line-height: .8em;
}

span:nth-child(1) {
  position: absolute;
  top: 0;
}