c-oval-icon(name="backgroundCircle")

under-section.a
  c-text-blob(popUnderline heading="Funktionär:innen" text="Unser Verein wird von über 60 engagierten Mitarbeiter:innen getragen, die ihre Zeit und Fähigkeiten ehrenamtlich in verschiedensten Bereichen einbringen. Ob in der Organisation von Veranstaltungen, der Betreuung unserer Mitglieder oder der Umsetzung von Projekten – alle leisten einen wertvollen Beitrag für die ForJu-Community.")
  c-block-button(content="Mitglied werden" link="jobs").themed


under-section.department.a
  c-text-blob(heading="Öffentlichkeitsarbeit" text="")
under-section.b
  c-contact-card(personName="Alena Petric" position="Mitglied Öffentlichkeitsarbeit" pic="alena_petric" email="alena.petric@forju.at")
  c-contact-card(personName="Bianca Postolache" position="Mitglied Öffentlichkeitsarbeit" pic="bianca_postolache" email="bianca.postolache@forju.at")
  c-contact-card(personName="Leonie Zinniel" position="Mitglied Öffentlichkeitsarbeit" pic="leonie_zinniel" email="leonie.zinniel@forju.at")
  c-contact-card(personName="Sophie Kammlander" position="Mitglied Öffentlichkeitsarbeit" pic="sophie_kammlander" email="sophie.kammlander@forju.at")


under-section.department.a
  c-text-blob(heading="Science Redaktion" text="")
under-section.b
  c-contact-card(personName="Dominik Juric" position="Mitglied Science Redaktion" pic="Dominik_Juric" email="dominik.juric@forju.at")
  c-contact-card(personName="Jasmin Hiebler" position="Mitglied Science Redaktion" pic="jasmin_hiebler" email="jasmin.hiebler@forju.at")
  c-contact-card(personName="Paul Gusich" position="Media Specialist" pic="paul_gusich" email="paul.gusich@forju.at")
  c-contact-card(personName="Ricarda Loeffler" position="Mitglied Science Redaktion" pic="ricarda_loeffler" email="ricarda.loeffler@forju.at")
  c-contact-card(personName="Sophia Gattringer" position="Mitglied Science Redaktion" pic="sophia_gattringer" email="sophia.gattringer@forju.at")
  c-contact-card(personName="Victoria Wagner" position="Mitglied Science Redaktion" pic="bild_axolotte" email="victoria.wagner@forju.at")


under-section.department.a
  c-text-blob(heading="IT Stabstelle" text="")
under-section.b
  c-contact-card(personName="Iris Haslinger" position="Leiterin Stabstelle IT" pic="iris_haslinger" email="iris.haslinger@forju.at")
  c-contact-card(personName="Adrian Swoboda" position="IT-Administrator" pic="adrian_swoboda" email="adrian.swoboda@forju.at")
  c-contact-card(personName="Paul Kropitz" position="IT-Administrator" pic="pauli_kropitz" email="paul.kropitz@forju.at")

under-section.department.a
  c-text-blob(heading="Advisory Board" text="")
under-section.b
  c-contact-card(personName="Elisa Quintero" position="Advisor" pic="bild_axolotte" email="elisa.quintero@forju.at")
  c-contact-card(personName="Melih Kurtulmus" position="Advisor" pic="melih_kurtulmus" email="melih.kurtulmus@forju.at")

under-section.department.a
  c-text-blob(heading="Operation Specialists" text="")
under-section.b
  c-contact-card(personName="Omar Elghandour" position="Operational Specialist" pic="omar_elghandour" email="omar.elghandour@forju.at")
  c-contact-card(personName="Louisa Puchinger" position="Operational Specialist" pic="bild_axolotte" email="louisa.puchinger@forju.at")

under-section.department.a
  c-text-blob(heading="Kooperationen" text="")
under-section.b
  c-contact-card(personName="Hubert van de Pavert" position="Mitglied Kooperation" pic="hubert_pavert" email="hubert.pavert@forju.at")

under-section.department.a
  c-text-blob(heading="Qualitätsmanagement" text="")
under-section.b
  c-contact-card(personName="Manuel Stevanovic" position="Qualitätsmanager" pic="manuel_stevanovic" email="manuel.stevanovic@forju.at")

under-section.department.a
  c-text-blob(heading="Andere" text="")
under-section.b
  c-contact-card(personName="Alexander Bayer" position="" pic="alexander_bayer" email="alexander.bayer@forju.at")
  c-contact-card(personName="Alperen Bayram" position="" pic="alperen_bayram" email="alperen.bayram@forju.at")
  c-contact-card(personName="Florian Hoppe" position="" pic="florian_hoppe" email="florian.hoppe@forju.at")




  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  //c-contact-card(personName="Alexander Kraberger" position="Internationales" pic="alexander_kraberger" email="alexander.kraberger@forju.at")