c-oval-icon {
  --color: rgb(var(--tertiary-strongly-themed-background));
  position: absolute;
  /* left: -100px; */
  width: auto;
  height: 1000px;
  bottom: calc(100% - 300px);
  left: 0;
  transform: translate(-280px, -558px) scale(2);

}

:host(.safari) c-oval-icon {
  display: none;
}

@media (max-width: 1190px) {
  c-oval-icon {
    height: 1500px;
  }
}