c-oval-icon(name="backgroundCircle")

under-section.a
  c-text-blob(popUnderline heading="Funktionär:innen" text="Unser Verein wird von über 60 engagierten Mitarbeiter getragen, die ihre Zeit und Fähigkeiten ehrenamtlich in verschiedensten Bereichen einbringen. Ob in der Organisation von Veranstaltungen, der Betreuung unserer Mitglieder oder der Umsetzung von Projekten – alle leisten einen wertvollen Beitrag für die ForJu-Community.")

under-section.b

  c-contact-card(personName="Adrian Swoboda" position="IT-Administrator" pic="adrian_swoboda" email="adrian.swoboda@forju.at")
  c-contact-card(personName="Alena Petric" position="Öffentlichkeitsarbeit" pic="alena_petric" email="alena.petric@forju.at")
  c-contact-card(personName="Alessandro Rodia" position="Science Redaktion" pic="alessandro_rodia" email="alessandro.rodia@forju.at")
  c-contact-card(personName="Alexander Bayer" position="Innovation & Services" pic="alexander_bayer" email="alexander.bayer@forju.at")
  c-contact-card(personName="Alexander Kraberger" position="Internationales" pic="alexander_kraberger" email="alexander.kraberger@forju.at")
  c-contact-card(personName="Anja Hofer" position="Seminarkoordination" pic="anja_hoferr" email="anja.hofer@forju.at")
  c-contact-card(personName="Alperen Bayram" position="Internationales" pic="alperen_bayram" email="alperen.bayram@forju.at")
  c-contact-card(personName="Benedikt Mustafa" position="Kooperationen" pic="benedikt_mustafa" email="benedikt.mustafa@forju.at")
  c-contact-card(personName="Benedikt Wolf" position="Projektmanagement" pic="benedikt_wolf" email="benedikt.wolf@forju.at")
  c-contact-card(personName="Dominik Juric" position="Innovation & Services" pic="Dominik_Juric" email="dominik.juric@forju.at")
  c-contact-card(personName="Felicia Hagen" position="Öffentlichkeitsarbeit" pic="felicia_hagen" email="felicia.hagen@forju.at")
  c-contact-card(personName="Florian Hoppe" position="Innovation & Services" pic="florian_hoppe" email="florian.hoppe@forju.at")
  c-contact-card(personName="Hubert Pavert" position="Projektmanagement" pic="hubert_pavert" email="hubert.pavert@forju.at")
  c-contact-card(personName="Isabel Mackerle" position="Science Redaktion" pic="isabel_mackerle" email="isabel.mackerle@forju.at")
  c-contact-card(personName="Jan Görlich" position="Finanzprüfer" pic="jan_görlich" email="jan.görlich@forju.at")
  c-contact-card(personName="Jasin Eltelby" position="Kooperationen" pic="jasin_eltelby" email="jasin.eltelby@forju.at")
  c-contact-card(personName="Jasmin Hiebler" position="Innovation & Services" pic="jasmin_hiebler" email="jasmin.hiebler@forju.at")
  c-contact-card(personName="Leonie Zinniel" position="Öffentlichkeitsarbeit" pic="leonie_zinniel" email="leonie.zinniel@forju.at")
  c-contact-card(personName="Lina Gallei" position="Projektmanagement" pic="lina_gallei" email="lina.gallei@forju.at")
  c-contact-card(personName="Lorenz Soukup" position="Innovation & Services" pic="lorenz_soukup" email="lorenz.soukup@forju.at")
  c-contact-card(personName="Manuel Stevanovic" position="Qualitätsmanagement" pic="manuel_stevanovic" email="manuel.stevanovic@forju.at")
  c-contact-card(personName="Mert Demir" position="Kooperationen" pic="mert_demir" email="mert.demir@forju.at")
  c-contact-card(personName="Paul Gusich" position="Science Redaktion" pic="paul_gusich" email="paul.gusich@forju.at")
  c-contact-card(personName="Paul Kropitz" position="IT-Administrator" pic="pauli_kropitz" email="paul.kropitz@forju.at")
  c-contact-card(personName="Ricarda Loeffler" position="Science Redaktion" pic="ricarda_loeffler" email="ricarda.loeffler@forju.at")
  c-contact-card(personName="Sophia Gattringer" position="Science Redaktion" pic="sophia_gattringer" email="sophia.gattringer@forju.at")
  c-contact-card(personName="Sophie Kammlander" position="Öffentlichkeitsarbeit" pic="sophie_kammlander" email="sophie.kammlander@forju.at")
