c-ripple-button(name="btn")
  wrapper-body
    c-image(name="pic")
      image-background(name="background")
        background-block
        c-spike-shadow-icon
    image-desc(name="desc")
      h3(name="heading") 
      p(name="subTxt")
      b Email: 
      c-copy-link(name="subSubTxt")