<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 514 593">
  <path fill="var(--color)" fill-rule="evenodd" d="M302.879 30.195c55.409-14.09 124.718-51.717 167.461-13.654 45.141 40.199 7.805 117.249 16.195 177.204 5.506 39.341 23.614 74.42 24.574 114.135 1.119 46.282 12.323 100.384-18.558 134.796-30.909 34.443-90.956 11.143-131.818 32.774-56.985 30.165-86.766 129.905-149.754 116.279-60.852-13.165-47.837-111.431-78.63-165.688-23.056-40.625-60.423-69.357-79.078-112.194-23.91-54.903-73.9-118.591-44.018-170.467 30.831-53.521 115.563-31.431 173.094-53.608 42.674-16.45 76.216-48.308 120.532-59.577" clip-rule="evenodd"/>
</svg>
