under-section.a(name="headerSection")
  c-fidget.a
  c-text-blob(popUnderline name="headline" text="Um Jugendliche besser unterstützen zu können und Österreich als Forschungsstandpunkt zu stärken, benötigt es Partner, die dies ermöglichen!")

under-section.b(name="partnerBody")
  c-ripple-button(link="https://oead.at/de/")
      c-image(src="OEAD")

  c-ripple-button(link="https://www.wko.at/oe/wko/wirtschaftskammer-oesterreich")
    c-image(src="wko")

  c-ripple-button(link="https://www.talenteoesterreich.at/")
    c-image(src="talente")

  c-ripple-button(link="https://www.juniorenterprises.at/")
    c-image(src="jea")

  c-ripple-button(link="https://www.start-vienna.com/")
    c-image(src="startnew")

  c-ripple-button(link="https://befounder.eu/")
    c-image(src="befounder")

  c-ripple-button(link="https://www.houseofexcellence.at/")
    c-image(src="val-logo-transparent2")

  c-ripple-button(link="https://aha-lernen.at/")
    c-image(src="AHA-Lernen-logo")
  
  c-ripple-button(link="https://viennasciencecircle.at/")
    c-image(src="ViennaScienceCircle-logo")

  c-ripple-button(link="https://www.learnchamp.com/")
    c-image(src="learnchampLogoRGB")

  c-ripple-button(link="https://www.ffi.at/")
      c-image(src="ffi")

  c-ripple-button(link="https://4gamechangers.io/en")
    c-fgc-logo-icon

  c-ripple-button(link="https://anpedi.org/")
    c-image(src="anpedi")

  c-ripple-button(link="https://s-merch.com/")
    c-image(src="smerch")
