:host {
  display: block;
  position: relative;
  overflow: hidden;
}

component-body {
  background-color: transparent;
}

c-blob-and-glass-background {
  position: fixed;
  top: 0;
  left: 0;

  --blob-a-color: rgba(255, 79, 223, 0.493);
  --blob-b-color: rgba(0, 67, 253, 0.493);
  background-color: black;
}

c-footer-section {
  background-color: transparent;
  transform: translateY(-500px);
  margin-bottom: -500px;
  visibility: hidden;
}