<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="836.539" height="896.001" viewBox="0 0 836.539 896.001">
  <defs>
    <filter id="Polygon_5" x="0" y="0" width="836.539" height="896.001" filterUnits="userSpaceOnUse">
      <feOffset input="SourceAlpha"/>
      <feGaussianBlur stdDeviation="15" result="blur"/>
      <feFlood flood-opacity="0.09"/>
      <feComposite operator="in" in2="blur"/>
      <feComposite in="SourceGraphic"/>
    </filter>
  </defs>
  <g transform="matrix(1, 0, 0, 1, 0, 0)" filter="url(#Polygon_5)">
    <path id="Polygon_5-2" data-name="Polygon 5" d="M224.5,0,449,669.359H0Z" transform="translate(45 296.08) rotate(-34)" fill="var(--color)"/>
  </g>
</svg>
