:host {
  display: block;
  position: relative;
}

component-body {
  padding: 0 calc(12% - 12px);
  display: flex;
  align-items: center;
  box-sizing: border-box;
  min-height: 550px;
  background-color: rgb(var(--tertiary-themed-background));
  padding-bottom: 40px;
}

c-text-blob {
  --theme: var(--tertiary-theme);
  width: 350px;
  position: relative;
  float: left;
  --body-size: 100%;
  min-width: 250px;
}

c-contact-card {
  margin-top: 80px;
}

c-contact-card:first-of-type {
  margin-left: calc(20% - 100px);
}


@media (max-width: 1180px) {
  component-body.cardsCount2 c-contact-card:first-of-type {
    margin-left: 50px;
  }
  component-body.cardsCount2 c-text-blob {
    margin-right: 35%;
    margin-top: 100px;
  }
  component-body.cardsCount2 {
    flex-wrap: wrap;
  }
  component-body.cardsCount2 c-contact-card {
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
  }
  component-body.cardsCount2 c-contact-card:first-of-type {
    margin-left: 0;
  }
  component-body.cardsCount2 c-contact-card:last-of-type {
    margin-right: 0;
  }
}

@media (max-width: 1080px) {
  component-body.cardsCount1 c-contact-card:first-of-type {
    margin-left: 50px;
  }
  component-body.cardsCount1 c-text-blob {
    margin-right: 35%;
    margin-top: 100px;
  }
  component-body.cardsCount1 {
    flex-wrap: wrap;
  }
  component-body.cardsCount1 c-contact-card {
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
  }
  component-body.cardsCount1 c-contact-card:first-of-type {
    margin-left: 0;
  }
  component-body.cardsCount1 c-contact-card:last-of-type {
    margin-right: 0;
  }
}



@media (max-width: 810px) {
  c-text-blob {
    margin-right: 0 !important;
    margin-top: 100px;
  }
  c-contact-card:first-of-type {
    margin-left: 0;
  }
  c-text-blob {
    margin-right: 0;
    margin-top: 100px;
  }
  component-body {
    justify-content: center;
  }
  c-contact-card {
    margin-bottom: 20px;
  }

  c-contact-card {
    width: calc(15% + 300px);
    margin-right: 0 !important;
    margin-left: 0 !important;
  }

  component-body {
    padding-left: 5%;
    padding-right: 5%;
  }
}


/* @media (max-width: 560px) {
  c-contact-card {
    width: 100%
  }
} */
