:host {
  --highlight: rgb(var(--primary-theme));
  --highlight: rgb(var(--theme));
  --color: black;
}

:host > svg path {
  transition: .4s fill, .4 stroke;
}

:host(.highlight), :host(.highlight) svg > g, :host(.highlight) svg > path {
  --color: var(--highlight) !important
}