c-text-blob(popUnderline note="Unser" heading="Präsidium" text="Avid Vormann und Laura Scholz leiten unsere Organisation. Sie repräsentieren ForJu und sind die strategische Führung.")
c-contact-card(personName="Avid Vormann" position="Vereinsobmann" pic="avid_vormann" email="avid.vormann@forju.at")
c-contact-card(personName="Laura Scholz" position="Geschäftsführerin" pic="laura_scholz" email="laura.scholz@forju.at")
