:host {
  display: block;
  position: relative;

  --side-padding: min(calc(15% - 50px), 130px);
}


title-section {
  display: block;
  width: 100%;
  min-height: 70vh;
  position: relative;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding-top: 150px;
  padding-bottom: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  border-radius: 0 0 40px 40px;
  /* background-color: rgba(255,255,255,.9); */
}


title-section c-text-blob {
  font-size: 2em;
  margin-bottom: 30px
}

title-details {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

title-details > * {
  margin-bottom: 50px;
}

detail-card h3 {
  font-size: 3em;
  margin: 0;
}
detail-card card-description {
  font-size: 1.3em;
  white-space: nowrap;
}

detail-card {
  margin-right: 100px;
}

detail-description {
  margin-left: 150px;
  flex-grow: 1;
  font-size: 1.3em;
  max-width: 500px;
  margin-bottom: 70px;
}
@media (max-width: 1280px) {
  detail-description {
    margin-left: 50px;
  }
}

@media (max-width: 1150px) {
  title-details {
    flex-wrap: wrap;
  }

  detail-description {
    margin-left: 0;
  }

  detail-card:last-of-type {
    margin-right: 0;
  }
}

@media (max-width: 370px) {
  title-section c-text-blob {
    font-size: 1.7em;
  }
}

content-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 50px;
  row-gap: 70px;
  
  width: 100%;
  max-width: 1200px;
  box-sizing: border-box;
}

title-section, content-container {
  padding-left: var(--side-padding);
  padding-right: var(--side-padding);
}

content-container > *:nth-child(2n) {
  transform: translateY(230px);
}

content-container c-link {
  margin-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
  font-size: 1.3em;
}

project-container {
  display: flex;
  flex-direction: column;
  height: max-content;
}

content-container {
  padding-bottom: 300px;
}

project-container c-parallax {
  width: 100%;
  height: 450px;
  border-radius: 20px;
}

@media (max-width: 950px) {
  :host {
    --side-padding: 3%;
  }
}

@media (max-width: 750px) {
  content-container {
    grid-template-columns: 1fr;
    padding-bottom: 50px;
  }
  
  title-section, content-container {
    --side-padding: 10%;
  }


  content-container > *:nth-child(2n) {
    transform: unset;
  }
}

@media (max-width: 550px) {
  title-section, content-container {
    --side-padding: 3%;
  }
}


c-footer-section {
  --padding: 0 var(--side-padding);
  --align-x: flex-start;
  background-color: transparent;
}
