c-oval-icon(name="backgroundCircle")
c-spike-shadow-icon


//- c-fidget.b

under-section.a
  c-fidget.a
  c-text-blob(center popUnderline heading="So unterstützen wir dich" note="Du hast ein innovatives Projekt, eine Diplom-, Bachelor, oder Masterarbeit?")

under-section.b

  c-ripple-button.serviceCard(link="contact")
    service-card-wrapper
      c-idea-icon.icon
      h2 Know-how
      p Lass dich von unseren Expert:innen beraten!

  c-ripple-button.serviceCard(link="contact")
    service-card-wrapper
      c-cash-icon.icon
      h2 Finanziell
      p Gönn' deinem Projekt eine Geldspritze!


  c-ripple-button.serviceCard(link="contact")
    service-card-wrapper
      c-send-cube-icon.icon
      h2 Ressourcen
      p Egal ob Equipment, Räumlichkeiten, Labore oder sonstiges!

  c-ripple-button.serviceCard(link="contact")
    service-card-wrapper
      c-users-icon.icon
      h2 Connections
      p Networke bei unseren Events mit Unternehmen & Instituten!



