c-text-blob(popUnderline note="Anfragen bezüglich" heading="Presse & Kooperationen" text="")
c-contact-card(personName="Manuel Stevanovic" position="Pressesprecher, Referent für Kooperationen" pic="manuel" email="manuel.stevanovic@forju.at")