component-body {
  background-color: #ebf2f1;
  background-color: rgb(var(--secondary-themed-background));
}


c-text-blob {
  width: 450px;
  --theme: var(--secondary-theme);
}

c-contact-card {
  --background: 255, 249, 248;
}