<svg xmlns="http://www.w3.org/2000/svg" width="746.539" height="806.002" viewBox="0 0 746.539 806.002">
  <path d="M224.5,0,449,669.359H0Z" transform="translate(0 251.078) rotate(-34)" fill="var(--color)"/>
</svg>
