under-section.a
  c-text-blob(popUnderline heading="Unser Vorstand" text="Das ist unseren engagierter Vorstand des Vereins der Forschenden Jugend. Unser Vorstand setzt sich aus leidenschaftlichen und erfahrenen Mitgliedern zusammen, die sich für die Förderung von Wissenschaft und Forschung unter jungen Menschen einsetzen.")
  c-block-button(content="Über uns" link="about")

under-section.b
  
  c-contact-card(personName="Avid Vormann" position="Vereinsobmann" pic="avid_vormann1" email="avid.vormann@forju.at")
  c-contact-card(personName="Melih Kurtulmus" position="Geschäftsführer" pic="melih_kurtulmus1" email="melih.kurtulmus@forju.at")
  c-contact-card(personName="Marco Vorgic" position="Generalsekretariat" pic="marco_vorgic1" email="marco.vorgic@forju.at")
  c-contact-card(personName="Laura Scholz" position="Generalsekretariat" pic="laura_scholz1" email="laura.scholz@forju.at")

  c-contact-card(personName="Manuel Stevanovic" position="Qualitätsmanager" pic="manuel_stevanovic1" email="manuel.stevanovic@forju.at")

  c-contact-card(personName="Una Saric" position="Science Redaktion" pic="una_saric1" email="una.saric@forju.at")
  c-contact-card(personName="Asya Efe" position="Science Redaktion" pic="asya_efe1" email="asya.efe@forju.at")
  
  c-contact-card(personName="Sarah Ceculovic" position="Öffentlichkeitsarbeit" pic="sarah_ceculovic1" email="sarah.ceculovic@forju.at")
  c-contact-card(personName="Anna Fabrizy" position="Öffentlichkeitsarbeit" pic="anna_fabrizy1" email="anna.fabrizy@forju.at")

  c-contact-card(personName="Batuhan Alisoglu" position="Internationales" pic="batuhan_alisoglu1" email="batuhan.alisoglu@forju.at")

  c-contact-card(personName="Frederica Bauer" position="Projektmanagement" pic="frederica_bauer1" email="frederica.bauer@forju.at")
  c-contact-card(personName="Marc-Luisa Tacho" position="Projektmanagement" pic="marc_tacho1" email="marcluis.tacho@forju.at")

  c-contact-card(personName="Laurenz Repnik" position="Kooperationen" pic="laurenz_repnik1" email="laurenz.repnik@forju.at")
  c-contact-card(personName="Lino Stockinger" position="Kooperationen" pic="lino_stockinger1" email="lino.stockinger@forju.at")

  c-contact-card(personName="Julian Kadlicz" position="Innovation & Services" pic="julian_kadlicz1" email="julian.kadlicz@forju.at")
  c-contact-card(personName="Sophie Heinrich" position="Innovation & Services" pic="sophie_heinrich1" email="sophie.heinrich@forju.at")
