c-spike-shadow-icon.a
under-section.a
  c-text-blob(popUnderline heading="Unser Vorstand")

under-section.b
  
  contact-card
    image-background
      background-block
      c-spike-shadow-icon.b
    c-image(src="avid")
    image-desc 
      h3 Avid Vormann
      p Vereinsobmann

  contact-card
    image-background
      background-block
      c-spike-shadow-icon.b
    c-image(src="melih")
    image-desc 
      h3 Melih Kurtulmus
      p Geschäftsführer

  contact-card
    image-background
      background-block
      c-spike-shadow-icon.b
    c-image(src="manuel")
    image-desc 
      h3 Manuel Stevanovic
      p Pressesprecher & Referent für Kooperationen






  contact-card
    image-background
      background-block
      c-spike-shadow-icon.b
    c-image(src="una")
    image-desc 
      h3 Una Saric
      p Generalsekretariat

  contact-card
    image-background
      background-block
      c-spike-shadow-icon.b
    c-image(src="jasin")
    image-desc 
      h3 Jasin Eltelby
      p Generalsekretariat

  contact-card
    image-background
      background-block
      c-spike-shadow-icon.b
    c-image(src="laura")
    image-desc 
      h3 Laura Scholz
      p Referentin für Projektorganisation




  contact-card
    image-background
      background-block
      c-spike-shadow-icon.b
    c-image(src="sarah")
    image-desc 
      h3 Sarah Ceculovic
      p Multimedia & Öffentlichkeitsarbeit

  contact-card
    image-background
      background-block
      c-spike-shadow-icon.b
    c-image(src="felicia")
    image-desc 
      h3 Felicia Hagen
      p Multimedia & Öffentlichkeitsarbeit

  contact-card
    image-background
      background-block
      c-spike-shadow-icon.b
    c-image(src="benedikt")
    image-desc 
      h3 Benedikt Mustafa
      p Referent für Internationales






      

  contact-card
    image-background
      background-block
      c-spike-shadow-icon.b
    c-image(src="alexander")
    image-desc 
      h3 Alexander Kraberger
      p International Relations Coordinator | England

  contact-card
    image-background
      background-block
      c-spike-shadow-icon.b
    c-image(src="frederica")
    image-desc 
      h3 Frederica Bauer
      p Referentin für Internationales





      