no-overflow
  c-spike-shadow-icon.a
under-section.a
  c-text-blob(popUnderline heading="Unser Vorstand")

under-section.b
  
  c-contact-card(personName="Avid Vormann" position="Vereinsobmann" pic="avid" email="avid.vormann@forju.at")
  c-contact-card(personName="Melih Kurtulmus" position="Geschäftsführer" pic="melih" email="melih.kurtulmus@forju.at")
  c-contact-card(personName="Manuel Stevanovic" position="Pressesprecher & Referent für Kooperationen" pic="manuel" email="manuel.stevanovic@forju.at")

  c-contact-card(personName="Una Saric" position="Generalsekretariat" pic="una" email="una.saric@forju.at")
  c-contact-card(personName="Jasin Eltelby" position="Generalsekretariat" pic="jasin" email="jasin.eltelby@forju.at")
  c-contact-card(personName="Laura Scholz" position="Referentin für Projektorganisation" pic="laura" email="laura.scholz@forju.at")

  c-contact-card(personName="Sarah Ceculovic" position="Multimedia & Öffentlichkeitsarbeit" pic="sarah" email="sarah.ceculovic@forju.at")
  c-contact-card(personName="Felicia Hagen" position="Multimedia & Öffentlichkeitsarbeit" pic="felicia" email="felicia.hagen@forju.at")
  c-contact-card(personName="Benedikt Mustafa" position="Referent für Internationales" pic="benedikt" email="benedikt.mustafa@forju.at")

  c-contact-card(personName="Alexander Kraberger" position="International Relations Coordinator | England" pic="alexander" email="alexander.kraberger@forju.at")
  c-contact-card(personName="Frederica Bauer" position="Referentin für Internationales" pic="frederica" email="frederica.bauer@forju.at")





      