:host {
  --padding: 13px 24px;
}

:host {
  transition: color .3s, background-color .3s;
  display: block;
  width: fit-content;
}


:host(.themed) {
  --background-color: rgb(var(--theme));
  --text: var(--plain-background); 
  --focus: var(--theme);
}


move-me {
  width: inherit;
  height: inherit;
  overflow: hidden;
  /* background-color: var(--background-color); */
}


::slotted(*) {
  /* overflow: hidden; */
  display: block;
  font-size: 1em;
  margin: auto 0;
  padding: var(--padding);
  text-align: center;
  font-weight: bold;

  box-sizing: border-box;
  z-index: 1;
  border-radius: inherit;
}

