//- <svg xmlns="http://www.w3.org/2000/svg" width="128.503" height="102.824" viewBox="0 0 128.503 102.824">
  
//- </svg>




//- #F638A8;#5BF4EC;#FF8F66

<svg xmlns="http://www.w3.org/2000/svg" width="46.18" height="14.62" viewBox="0 0 46.18 14.62">
  <defs>
    <linearGradient id="gradient" x1="0%" y1="0%" x2="250%" y2="0%" spreadMethod="repeat">
      <stop offset="0%" style="stop-color:#F638A8; stop-opacity:1">
        <animate attributeName="stop-color" values="#F638A8;#00d4c9;#FF8F66;#F638A8" dur="10s" repeatCount="indefinite"></animate>
      </stop>
      <stop offset="100%" style="stop-color:#00d4c9; stop-opacity:1">
        <animate attributeName="stop-color" values="#00d4c9;#FF8F66;#F638A8;#00d4c9" dur="10s" repeatCount="indefinite"></animate>
      </stop>
    </linearGradient>
  </defs>
  
  <g fill="url(#gradient)">
    <path id="Path_50" data-name="Path 50" d="M10.58-14.46v2.14H4.17v4.28H9.58v2.15H4.17V0H1.46V-14.46Zm5.39,4.04a5.623,5.623,0,0,1,2.085.37A4.5,4.5,0,0,1,19.65-9a4.648,4.648,0,0,1,1.02,1.66,6.314,6.314,0,0,1,.36,2.19,6.345,6.345,0,0,1-.36,2.2,4.751,4.751,0,0,1-1.02,1.67,4.431,4.431,0,0,1-1.6,1.06A5.623,5.623,0,0,1,15.97.15a5.662,5.662,0,0,1-2.09-.37,4.471,4.471,0,0,1-1.605-1.06,4.771,4.771,0,0,1-1.03-1.67,6.267,6.267,0,0,1-.365-2.2,6.236,6.236,0,0,1,.365-2.19A4.668,4.668,0,0,1,12.275-9a4.536,4.536,0,0,1,1.605-1.05A5.662,5.662,0,0,1,15.97-10.42Zm0,8.67a2.172,2.172,0,0,0,1.9-.86,4.312,4.312,0,0,0,.615-2.52,4.361,4.361,0,0,0-.615-2.53,2.163,2.163,0,0,0-1.9-.87,2.193,2.193,0,0,0-1.92.875,4.338,4.338,0,0,0-.62,2.525,4.289,4.289,0,0,0,.62,2.515A2.2,2.2,0,0,0,15.97-1.75ZM22.64,0V-10.26h1.45a.777.777,0,0,1,.53.14.805.805,0,0,1,.2.48l.15,1.24a4.875,4.875,0,0,1,1.29-1.5,2.715,2.715,0,0,1,1.66-.55,2.145,2.145,0,0,1,1.26.35l-.32,1.85a.382.382,0,0,1-.13.255.44.44,0,0,1-.27.075,1.684,1.684,0,0,1-.41-.07,2.744,2.744,0,0,0-.69-.07,2.1,2.1,0,0,0-1.32.425,3.272,3.272,0,0,0-.93,1.245V0ZM36.45-5.14a7.5,7.5,0,0,1-.3,2.2,4.567,4.567,0,0,1-.9,1.67A3.907,3.907,0,0,1,33.77-.21,5.362,5.362,0,0,1,31.7.16,8.539,8.539,0,0,1,30.64.095a9.541,9.541,0,0,1-1.09-.2l.14-1.6a.532.532,0,0,1,.165-.355A.6.6,0,0,1,30.28-2.2a1.9,1.9,0,0,1,.445.07,2.881,2.881,0,0,0,.695.07,2.865,2.865,0,0,0,1.01-.165,1.709,1.709,0,0,0,.735-.525,2.419,2.419,0,0,0,.445-.935,5.6,5.6,0,0,0,.15-1.395v-9.38h2.69Zm4.72-5.12v6.52A2.191,2.191,0,0,0,41.6-2.285a1.612,1.612,0,0,0,1.305.515,2.609,2.609,0,0,0,1.2-.285,4.2,4.2,0,0,0,1.06-.785v-7.42h2.47V0H46.13a.607.607,0,0,1-.63-.45l-.17-.82a7.151,7.151,0,0,1-.66.585,3.981,3.981,0,0,1-.725.45,4.066,4.066,0,0,1-.83.29A4.151,4.151,0,0,1,42.16.16a3.643,3.643,0,0,1-1.485-.285A2.974,2.974,0,0,1,39.59-.93a3.525,3.525,0,0,1-.665-1.235A5.227,5.227,0,0,1,38.7-3.74v-6.52Z" transform="translate(-1.46 14.46)"/>
  </g>
</svg>


