c-text-blob(popUnderline note="Unser" heading="Präsidium" text="Avid Vormann und Melih Kurtulmus leiten unsere Organisation. Sie repräsentieren die Institution und sind verantwortlich für die strategische und operative Führung.")
c-contact-card(personName="Avid Vormann" position="Vereinsobmann" pic="avid" email="avid.vormann@forju.at")
c-contact-card(personName="Melih Kurtulmus" position="Geschäftsführer" pic="melih" email="melih.kurtulmus@forju.at")